# Generate example data
Generate a example dataset that will be used to test the codes and the app

**This code is only used to generate a example dataset. In the reality the user upload a dataset and then the codes run**

**Generate example data and save in the folder "data_local"**

### In this example a stock prices dataset is generated

In [1]:
#!pip install yfinance
import yfinance as yf
import pandas as pd

In [2]:
# examples
msft = yf.Ticker("MSFT")

# get all stock info
msft.info

# get historical market data
#hist = msft.history(period="1mo")
hist = msft.history(start = "2023-12-20", end = "2024-01-19")

hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-20 00:00:00-05:00,373.633885,374.660132,369.180168,369.269836,26316700,0.0,0.0
2023-12-21 00:00:00-05:00,371.202758,373.046025,368.691950,372.179199,17708000,0.0,0.0
2023-12-22 00:00:00-05:00,372.318708,373.813244,371.352241,373.215424,17091100,0.0,0.0
2023-12-26 00:00:00-05:00,373.633893,375.566828,372.139358,373.295135,12673100,0.0,0.0
2023-12-27 00:00:00-05:00,372.328655,373.693659,371.451856,372.707275,14905400,0.0,0.0

# RUN GENERATE DATASET EXAMPLE

### 0. Root path
Set path where I stay in the previous folder

In [3]:
import os
# fix root path to save outputs
actual_path = os.path.abspath(os.getcwd())
print('actual path: ', actual_path)
list_root_path = actual_path.split('/')[:-1]
root_path = '/'.join(list_root_path)
os.chdir(root_path)
print('new path: ', root_path)

actual path:  /Users/joseortega/Documents/GitHub/app-auto-data-science/_discovery/1_generate_example_data
new path:  /Users/joseortega/Documents/GitHub/app-auto-data-science/_discovery

### 1. Download prices of differents stocks

In [4]:
def get_close_data(ticket_stock, start_date, end_data):
    """
    get stock price        
    """
    obj_ticket = yf.Ticker(ticket_stock)
    data_close = obj_ticket.history(start = start_date, end = end_data)
    return data_close[["Close"]]

In [5]:
# define time to download data
start_date = "2021-01-01"
end_date = "2024-01-01"

In [6]:
# define list of stock to analyze
# list_stocks_tickets_chile = ["CMPC.SN", "CHILE.SN", "COPEC.SN", "ANDINA-B.SN"]
list_stocks_tickets_chile = ["CMPC.SN", "CHILE.SN", "COPEC.SN"]
print(list_stocks_tickets_chile)

# get data close and join into one dataframe
output_df_chile = pd.DataFrame()
for ticket_stock in list_stocks_tickets_chile:
    print(ticket_stock)
    aux_df = get_close_data(ticket_stock = ticket_stock, 
                            start_date = start_date, 
                            end_data = end_date
                           )
    output_df_chile[ticket_stock] = aux_df["Close"]

# time zone None
output_df_chile.index = output_df_chile.index.tz_localize(None)

['CMPC.SN', 'CHILE.SN', 'COPEC.SN']
CMPC.SN
CHILE.SN
COPEC.SN

In [7]:
# define list of stock to analyze
list_stocks_tickets_eeuu = ["MSFT", "AAPL", "GOOG", "TSLA", "O", "BHP", # eeuu stocks
                       "VOO", #"QQQ" # eeuu index syp500, nazdaq100
                      ]
print(list_stocks_tickets_eeuu)

# get data close and join into one dataframe
output_df_eeuu = pd.DataFrame()
for ticket_stock in list_stocks_tickets_eeuu:
    print(ticket_stock)
    aux_df = get_close_data(ticket_stock = ticket_stock, 
                            start_date = start_date, 
                            end_data = end_date
                           )
    output_df_eeuu[ticket_stock] = aux_df["Close"]

# time zone None
output_df_eeuu.index = output_df_eeuu.index.tz_localize(None)

['MSFT', 'AAPL', 'GOOG', 'TSLA', 'O', 'BHP', 'VOO']
MSFT
AAPL
GOOG
TSLA
O
BHP
VOO

In [8]:
output_df_chile.head()

                CMPC.SN   CHILE.SN     COPEC.SN
Date
2021-01-04  1811.865234  55.783875  7478.300781
2021-01-05  1881.879883  56.599525  7847.216797
2021-01-06  1863.903198  57.171234  7797.228027
2021-01-07  1892.287231  58.924488  8062.168457
2021-01-08  1938.553589  60.029793  7998.182129

In [9]:
output_df_eeuu.head()

,MSFT,AAPL,GOOG,TSLA,O,BHP,VOO
Date,,,,,,,
2021-01-04,211.224304,126.830070,86.412003,243.256668,49.486179,53.365536,322.615845
2021-01-05,211.428055,128.398148,87.045998,245.036667,49.734196,55.069115,324.737885
2021-01-06,205.945877,124.076080,86.764503,251.993332,49.312576,56.820232,326.707672
2021-01-07,211.806473,128.309967,89.362503,272.013336,48.692558,57.985008,331.589294
2021-01-08,213.096970,129.417435,90.360497,293.339996,49.386967,58.206867,333.454437

In [10]:
output_df = pd.concat([output_df_chile, output_df_eeuu], axis=1)
output_df

,CMPC.SN,CHILE.SN,COPEC.SN,MSFT,AAPL,GOOG,TSLA,O,BHP,VOO
Date,,,,,,,,,,
2021-01-04,1811.865234,55.783875,7478.300781,211.224304,126.830070,86.412003,243.256668,49.486179,53.365536,322.615845
2021-01-05,1881.879883,56.599525,7847.216797,211.428055,128.398148,87.045998,245.036667,49.734196,55.069115,324.737885
2021-01-06,1863.903198,57.171234,7797.228027,205.945877,124.076080,86.764503,251.993332,49.312576,56.820232,326.707672
2021-01-07,1892.287231,58.924488,8062.168457,211.806473,128.309967,89.362503,272.013336,48.692558,57.985008,331.589294
2021-01-08,1938.553589,60.029793,7998.182129,213.096970,129.417435,90.360497,293.339996,49.386967,58.206867,333.454437
...,...,...,...,...,...,...,...,...,...,...
2023-12-22,1654.931152,94.225540,6239.912109,373.215393,193.091385,142.720001,252.539993,55.565765,66.152298,433.894684
2023-12-26,1718.828613,95.153870,6378.910156,373.295135,192.542831,142.820007,256.609985,56.356915,66.542465,435.698853
2023-12-27,1699.929321,94.652573,6449.909180,372.707275,192.642548,141.440002,261.440002,56.649929,67.195984,436.496277
2023-12-28,1699.929321,95.525200,6456.909180,373.912842,193.071426,141.279999,253.179993,57.216431,66.932625,436.566071
2023-12-29,1699.929321,96.072914,6409.909668,374.670074,192.024185,140.929993,248.479996,56.330559,66.630249,435.399811

### 2. Delete null values

In [11]:
# evalaute initial condition
initial_shape = output_df.shape
initial_shape

(775, 10)

In [12]:
output_df.isnull().sum()

CMPC.SN     28
CHILE.SN    28
COPEC.SN    28
MSFT        22
AAPL        22
GOOG        22
TSLA        22
O           22
BHP         22
VOO         22
dtype: int64

In [13]:
# delete nulls
output_df = output_df.dropna()

In [14]:
# evalaute after condition
final_shape = output_df.shape
final_shape

(725, 10)

In [15]:
# percent change data
100 * ((final_shape[0] - initial_shape[0]) / initial_shape[0])

-6.451612903225806

In [16]:
output_df.isnull().sum()

CMPC.SN     0
CHILE.SN    0
COPEC.SN    0
MSFT        0
AAPL        0
GOOG        0
TSLA        0
O           0
BHP         0
VOO         0
dtype: int64

In [17]:
##### sample small data to test
output_df = output_df.head(100)

In [18]:
output_df

,CMPC.SN,CHILE.SN,COPEC.SN,MSFT,AAPL,GOOG,TSLA,O,BHP,VOO
Date,,,,,,,,,,
2021-01-04,1811.865234,55.783875,7478.300781,211.224304,126.830070,86.412003,243.256668,49.486179,53.365536,322.615845
2021-01-05,1881.879883,56.599525,7847.216797,211.428055,128.398148,87.045998,245.036667,49.734196,55.069115,324.737885
2021-01-06,1863.903198,57.171234,7797.228027,205.945877,124.076080,86.764503,251.993332,49.312576,56.820232,326.707672
2021-01-07,1892.287231,58.924488,8062.168457,211.806473,128.309967,89.362503,272.013336,48.692558,57.985008,331.589294
2021-01-08,1938.553589,60.029793,7998.182129,213.096970,129.417435,90.360497,293.339996,49.386967,58.206867,333.454437
...,...,...,...,...,...,...,...,...,...,...
2021-05-20,1736.879272,52.599854,7148.419434,240.263580,125.170639,117.804497,195.593338,56.136574,58.713978,364.558075
2021-05-24,1727.362305,54.631943,7348.374512,244.455093,124.964149,120.333504,202.146667,57.168530,57.882000,367.957733
2021-05-25,1710.136108,52.638931,7208.405762,245.371429,124.767532,120.453499,201.563339,57.755817,56.978703,367.184204
2021-05-26,1738.782959,53.928532,7098.429688,245.147186,124.718353,121.676498,206.376663,57.990723,57.414513,367.852661
2021-05-27,1702.617554,54.561604,7103.428711,243.022171,123.174744,120.125504,210.283340,57.227249,58.824913,368.014984

In [19]:
# save in the folder that the data will be used
output_df.to_excel('data_local/data.xlsx')

# This code is only used to generate a example dataset. In the APP the user upload a dataset and then the codes run